<nav class="navbar navbar-expand-md" id="navbar">
    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['/home']" id="logo"><img src="../../assets/image/logo.png" alt=""
            width="50px"> Hospital RUS
        PV</a>

    <!-- Boton cuando esta responsivo -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/image/menu.png" alt="" width="30px">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../home/">Inicio</a></li>
            <li><a class="dropdown-item" href="../doctores/">Doctores</a></li>
            <li><a class="dropdown-item" href="../acerca/">Acerca</a></li>
            <li><a class="dropdown-item" href="../citas/alta-cita/">Nuevas citas</a></li>
        </ul>
      </div>

    <!-- header links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/doctores']">Doctores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/acerca']">Acerca</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/alta-cita']">Nueva Cita</a>
            </li>
        </ul>
    </div>
    <div class="icons">
        <a [routerLink]="['/reporte-cita']" title="Mis citas">
            <img src="../../assets/image/user.png" alt="User Img" width="25px">
        </a>
        <!-- Por lo pronto no tienen funcionalidad (y no se si la tengan) asi que estan comentados por si llegan a tener funcionalidad -->
        <!-- <img src="../../assets/image/heart.png" alt="" width="20px">
        <img src="../../assets/image/add.png" alt="" width="24px"> -->
    </div>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Dr. Shaun Murphy..." #buscarTexto (keyup.enter)="buscarUnDoctor(buscarTexto.value)" aria-label="Search">
        <button class="btn btn-outline-success" (click)="buscarUnDoctor(buscarTexto.value)" type="submit">Buscar</button>
    </form>
</nav>