<nav class="navbar navbar-expand-md" id="navbar">
    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['/home']" id="logo"><img src="../../assets/image/logo.png" alt="" width="50px"> Hospital RUS
        PV</a>

    <!-- Boton cuan do esta responsivo -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span><img src="../../assets/image/menu.png" alt="" width="30px"></span>
    </button>

    <!-- header links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">Inicio</a>
            </li>
            <!-- Header -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Informacion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/acerca']">Acerca</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Contacto</a>
            </li>
        </ul>
    </div>
    <div class="icons">
        <img src="../../assets/image/user.png" alt="" width="20px">
        <img src="../../assets/image/heart.png" alt="" width="20px">
        <img src="../../assets/image/add.png" alt="" width="24px">
    </div>
</nav>