.con-valor {
    margin-top: 50px;
    padding: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    padding: 0 100px;
}

.sin-valor {
    margin-top: 50px;
    padding: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}


h3{
    margin-top: 50px;
    text-align: center;
}

.doc{
    width: 100%;
}
  