<section id="product-cards">
    <div class="container">
        <h1>NUESTROS SERVICIOS</h1>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista Previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="/assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c1.png" alt="">
                    <div class="card-body">
                        <h3>Servicio de emergencia</h3>
                        <p>Atención médica urgente para casos de accidentes, lesiones graves, y enfermedades
                            repentinas.</p><br>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
            ...
        </div>

        <div class="row" style="margin-top:50px;">
            ...
        </div>
    </div>
</section>


<section id="product-cards">
    <div class="container">
        <h1>REHABILITACION Y TERAPIA FISICA</h1>
        <div class="row" style="margin-top: 50px;">
            ...
        </div>
    </div>
</section>
